<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <% if @user.errors.messages.length > 0 %>
        <ul id="new-user-error-list">
        <% @user.errors.messages.each do |error| %>
          <li id="new-user-error">
            <%= "#{error[0]}"+" "+"#{error[1][0]}" %>
          </li>
        <% end %>
        </ul>
      <% end %>
      <div class="account-wall">
        <p class="sign-in">register</p>
        <form class="form-signin" action=<%= "/users/#{@user.id}" %> method="POST">
        <input type="hidden" name="_method" value="PUT">
        <input type="text" name="user[name]" class="form-control" value=<%= @user.name %> required autofocus>
        <input type="email" name="user[email]" class="form-control" value=<%= @user.email %> required autofocus>
        <input type="password" name="user[password]" class="form-control" placeholder="Password" required>
        <input type="password" name="user[password_confirmation]" class="form-control" placeholder="Confirm Password" required>
        <button class="btn btn-md btn-danger btn-block" type="submit"> sign up</button><br>
        </form>
      </div>
    </div>
  </div>
</div>
