<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
      <div class="account-wall">
        <p class="sign-in">add to my squad</p>
        <form class="form-signin" action="/users/<%= session[:user_id] %>/friendships" method="POST">
        <input type="name" name="name" class="form-control" placeholder="Name" required autofocus>
        <input type="tel" name="phone" class="form-control" placeholder="Phone number" required>
        <button class="btn btn-md btn-warning btn-block" type="submit">squad up</button><br>
        </form>
      </div>
    </div>
  </div>
</div>
