/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url(https://fonts.googleapis.com/css?family=Comfortaa);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #353542;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #lightslategrey;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
 }

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #lightslategrey;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #da1e08;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

body {
  background-color: #778899;
  color: #353542;
  font-family: 'Comfortaa';
}

.container {
  text-align: center;
  z-index: 0;
  margin: 0 auto;
  max-width: 100%;
 }

.banner {
  margin: 0 auto;
  padding-top: 100px;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.navbar {
  background-color: #353542;
}

.navbar .container-fluid>.navbar-header {
  float: left;
  margin-right: 10px;
}
.navbar .navbar-nav {
  float: left;
  margin: 5px;
}
.nav>li {
  float: left;
  font-size: 10px;
}

.panel-body {
  margin-top: -20px;
}

.bg-primary {
  color: #ffde7c;
  background-color: #353542;
  padding: 10px;
  border-radius: 25px;
  margin-top: 20px;
}

.bg-success {
  color: #f9a9f9;
  background-color: #353542;
  padding: 10px;
  border-radius: 25px;
  margin-top: -10px;
}

.list-group-item-current {
  background-color: #ffddff;
}

.bg-info {
  color: #f74fb4;
  background-color: #353542;
  padding: 10px;
  border-radius: 25px;
  margin-top: -10px;
}

.bg-danger {
  color: #ed685e;
  background-color: #353542;
  padding: 10px;
  border-radius: 25px;
  margin-top: -10px;
}

.list-group-item-recent {
  background: #f9cce7;
}

h4 {
  color: #353542;
  font-size: 16px;
  font-weight: normal;
}

.list-group-item {
  margin-bottom: 5px;
  padding: 5px;
}

li.active a {
  color: #353542 !important;
}

.pull-right {
  float: right !important;
}

.btn-success a {
  color: #353542 !important;
  padding: -5px;
}

.btn-danger a {
  color: #353542 !important;
  padding: -5px;
}

.btn-success a:hover {
  text-decoration: none;
}

.btn-danger a:hover {
  text-decoration: none;
}

#login-errors {
  color: #353542;
}

#new_poll {
  margin-top: 40px;
}

#new_poll label {
  font-size: 1.5em;
}

#new_poll label.btn {
  font-size: 1em;
}

#new-user-error-list {
  margin-top: 20px;
}


