/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #lightslategrey;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
 }

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #lightslategrey;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #da1e08;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

.nav {
  z-index: 9999;
  position: absolute;
  width: 100%;
  height: 33px;
  text-align: right;
  padding-right: 0px;
  padding-top: 20px;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -20px;
  background-color: #28343b;
}

.nav li {
  float: right;
}

.nav-buttons li {
  padding-right: 20px;
  padding-left: 20px;
  list-style-type: none;
  display: inline;
  text-align: center;
  text-decoration: none;
}

.nav-buttons li a {
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.nav li a:hover {
  background-color: #111;
}

body {
  font-family: "Roboto", sans-serif;
  height: auto;
  width: auto;
  background-color: #778899;
}

.container {
  text-align: center;
  z-index: 0;
  margin: 0 auto;
  max-width: 100%;
 }

.banner {
  width: 500px;
  margin: 0 auto;
  padding-top: 100px;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}
