/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url(https://fonts.googleapis.com/css?family=Comfortaa);

.form-signin {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  font-size: 12px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: 10px;
  border: 0px;
}

.form-signin input[type="password"]{
   margin-bottom: 10px;
   border: 0px;
}

.account-wall {
  margin-top: 30px;
  padding: 0px 0px 0px 0px;
  background-color: #353542;
  border-radius: 20px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.message {
  color: grey;
  font-weight: normal;
  font-size: 10px;
}

.message a {
  color: #ffde7c;
}

.sign-in {
  padding-top: 15px;
  color: grey;
}

body {
  background-color: #778899;
  color: #353542;
  font-family: 'Comfortaa';
}

.container {
  text-align: center;
  z-index: 0;
  margin: 0 auto;
  max-width: 100%;
}

.banner {
  margin: 0 auto;
  padding-top: 100px;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.navbar {
  background-color: #353542;
}

.navbar .container-fluid>.navbar-header {
  float: left;
  margin-right: 10px;
}

.navbar .navbar-nav {
  float: left;
  margin: 5px;
}

.nav>li {
  float: left;
  font-size: 10px;
}

.panel-body {
  margin-top: -20px;
}

.bg-primary {
  color: #ffde7c;
  background-color: #353542;
  padding: 10px;
  border-radius: 25px;
  margin-top: 20px;
}

.bg-success {
  color: #f9a9f9;
  background-color: #353542;
  padding: 10px;
  border-radius: 25px;
  margin-top: -10px;
}

.list-group-item-current {
  background-color: #ffddff;
}

.bg-info {
  color: #f74fb4;
  background-color: #353542;
  padding: 10px;
  border-radius: 25px;
  margin-top: -10px;
}

.bg-danger {
  color: #ed685e;
  background-color: #353542;
  padding: 10px;
  border-radius: 25px;
  margin-top: -10px;
}

.list-group-item-recent {
  background: #f9cce7;
}

h4 {
  color: #353542;
  font-size: 16px;
  font-weight: normal;
}

.list-group-item {
  margin-bottom: 5px;
  padding: 15px;
  width: 100%;
}

li.active a {
  color: #353542 !important;
}

.pull-right {
  float: right !important;
}

.btn-success a {
  color: #353542 !important;
  padding: -5px;
}

.btn-danger a {
  color: #353542 !important;
  padding: -5px;
}

.btn-success a:hover {
  text-decoration: none;
}

.btn-danger a:hover {
  text-decoration: none;
}
