<% if !logged_in? %>
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><%= link_to "Register", new_user_path %></li>
      <li><%= link_to "Login", new_session_path %></li>
    </ul>
  </div>
<% else %>
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li></li>
      <li><%= link_to "Log Out", session_path(session), method: :delete %></li>
    </ul>
  </div>
<% end %>
